<div class="main">
  <!-- <div>
    <h1 class="top-heading">What kind of Form would you like to create?</h1>
  </div> -->
  <div class="pdf-box">
    <h2 class="pdf-heading">PDF Form</h2>
    <span class="para"
      >Upload a PDF to convert it into an API-driven, editable form with dynamic
      draggable components. Edit, submit, and download the updated PDF with your
      changes.</span
    >
    <div>
      <button
        class="btn btn-primary"
        style="margin-bottom: 20px; background-color: #2176cb"
        (click)="openDialog()"
      >
        Click here to proceed
      </button>
    </div>
    <img src="/image.png" class="pdfimage" />
  </div>
</div>
