<div class="top">
  <div class="top-main">
    <h3 class="upload">Upload a PDF</h3>
    <div class="icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="bi bi-x"
        viewBox="0 0 16 16"
        mat-dialog-close
      >
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
        />
      </svg>
    </div>
  </div>

  @if(isLoading){
  <div class="d-flex justify-content-center">
    <div
      class="spinner-border text-primary"
      style="width: 3rem; height: 3rem; margin-bottom: 10px"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  } @else{
  <div class="uploadingpdf" [ngClass]="{ dragging: isDragging }">
    <div class="pdf" [ngClass]="fileselected ? 'show' : ''">
      <i class="fa fa-upload" aria-hidden="true" style="margin-right: 4px"></i>
      <span
        >Drag & drop or click to
        <span class="clickable" (click)="openFileInput()">select a PDF</span>
      </span>
    </div>
  </div>
  }

  <input
    type="file"
    #fileInput
    accept=".pdf"
    style="display: none"
    (change)="onFileSelected($event)"
  />
</div>
